@font-face {
  font-family: "odin-font";
  src:
    url("fonts/norse-bold_2-webfont.woff2"),
    url("fonts/norse-bold_2-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "form-font";
  src:
    url("fonts/pressstart2p-regular-webfont.woff2"),
    url("fonts/pressstart2p-regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: black;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
}

.container-left {
  width: 50vw;
  opacity: 0.5;
}



img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.container-right {
  background-color: #f5f5f5;
  width: 50vw;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.outside-screen {
  background-color: #525a5c;
  width: 600px;
  height: 500px;
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 80px 20px;

}

.inside-screen {
  background-color: #66b734;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  font: 1em "form-font";
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 2);
  border-radius: 5px;
}

  h1 {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}


form {
  background-color: none;
  font: 0.5em "form-font";
}

input {
  background-color: #66b734;
  width: 100%;
  font: 1em "form-font";
}

.trade-mark{
  font-size: 0.5em;
  margin-left: 0px;
}

.submit-container{
  margin-left: 45px;
  align-items: end;
}

.submit-button{
  font: 1em "form-font";
  background: none;
  padding: 10px;
}

.submit-button:hover{
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 1);
  
}


.retro-gif{
align-self: end;
}

.pikachu-gif{
  height: 75px;
  width: 75px;
}

.skip{
  margin-left: 25px;
  font-size: 0.75em;
  padding-bottom: 100px;
}

.blink-me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.buttons-img{
  margin-top: 50px;
  height: 300px;
  width: 500px;
}